In [1]:
import pandas as pd

In [25]:
booking = pd.read_csv("C:/Users/thomb/Documents/S9/Scrap/booking_clean.csv")  
flights = pd.read_csv("C:/Users/thomb/Documents/S9/Scrap/flights_clean.csv", delimiter=';')  
flights['TravelPrice']=pd.to_numeric([i.replace(',','.').replace(' ','') for i in flights['TravelPrice']])

In [40]:
booking.head()

,title,price,previous_price,location_score,address,score,n_reviews,description,appliances,popular_facilities,...,facility_Water park,facility_Waterslide,facility_Waxing services,facility_Wheelchair accessible,facility_Wine/Champagne,facility_Yoga classes,facility_iPad,facility_iPod dock,facility_nan,appliances_size
0,SmartRental Collection Gran Vía Capital,€ 252,€ 420,Location 9.8,"14 Calle Gran Vía, Madrid City Center, 28013 M...",8.9,"1,122 reviews",You're eligible for a Genius discount at Smart...,"Apartments,Kitchen,Swimming pool,Washing machi...","Electric vehicle charging station,Dining table...",...,0,0,0,1,0,0,0,0,0,NaN
1,Apartments Center Madrid,€ 288,NaN,Location 9.4,"Calle de los Jardines 16, Madrid City Center, ...",7.8,648 reviews,You're eligible for a Genius discount at Apart...,"Apartments,Kitchen,Washing machine,Free WiFi,B...","Parking garage,Electric vehicle charging stati...",...,0,0,0,0,0,0,0,0,0,NaN
2,Plaza Mayor Family,€ 312,€ 375,Location 9.9,"calle Mayor 32 1 1, Madrid City Center, 28013 ...",8.8,122 reviews,You're eligible for a Genius discount at Plaza...,"Whole apartment,80 m²\r\nSize,Kitchen,City vie...","Parking garage,Accessible parking,Dining table...",...,0,0,0,0,0,0,0,1,0,80.0
3,Plaza España,€ 200,€ 208,NaN,"Calle de los Reyes 11, Madrid City Center, 280...",7.1,240 reviews,You're eligible for a Genius discount at Plaza...,"Apartments,Kitchen,Pet friendly,Washing machin...","Dining table,Coffee machine,Stovetop,Oven,Kitc...",...,0,0,0,0,0,0,0,0,0,NaN
4,HABITACION PRIVADA EN PLENO CENTRO DE MADRID,€ 95,NaN,Location 10,"13 Calle de la Ruda, 3ro C exterior, Madrid Ci...",10.0,1 review,"Located in Madrid, a 8-minute walk from Plaza ...",NaN,"Toilet paper,Towels,Bathtub or shower,Shared t...",...,0,0,0,0,0,0,0,0,0,NaN

In [49]:
booking['PriceValue']=pd.to_numeric([i[2:].replace(',','') for i in booking['price']])

In [52]:
flights['Price*Temps']=flights['TravelPrice']*flights['voyage_in_h']
flights=flights.sort_values(by = 'Price*Temps')

In [37]:
#Voici les vols que l'on vous conseille pour votre WE
flights.head(3)

,TravelPrice,allerdepart,allerarrivee,retourdepart,retourarrivee,allercompanie,retourcompanie,allertimetravel,retourtimetravel,allerescale,...,voyage_companies,aller_depart_h,aller_depart_min,aller_arrivee_h,aller_arrivee_min,retour_depart_h,retour_depart_min,retour_arrivee_h,retour_arrivee_min,Price*Temps
32,99.50,"Orly (ORY), Paris","Adolfo Suárez M... (MAD), Madrid","Adolfo Suárez M... (MAD), Madrid","Orly (ORY), Paris",Ryanair,Transavia France,2 h 05 min,2 h 05 min,direct,...,Ryanair + Transavia France,18,15,20,20,16,50,18,55,414.583333
40,101.64,"Charles De Gaul... (CDG), Paris","Adolfo Suárez M... (MAD), Madrid","Adolfo Suárez M... (MAD), Madrid","Charles De Gaul... (CDG), Paris",Ryanair,Iberia,2 h 05 min,2 h 05 min,direct,...,Ryanair + Iberia,18,15,20,20,20,10,22,15,423.500000
16,102.69,"Orly (ORY), Paris","Adolfo Suárez M... (MAD), Madrid","Adolfo Suárez M... (MAD), Madrid","Orly (ORY), Paris",Iberia,Iberia,2 h 05 min,2 h 05 min,direct,...,Iberia,7,30,9,35,20,10,22,15,427.875000

In [51]:
booking['Rapport']=booking['score']/booking['PriceValue']
booking=booking.sort_values(by='Rapport',ascending=False)

In [57]:
#Voici les logements que l'on vous conseille pour votre WE
booking.head(3)

,title,price,previous_price,location_score,address,score,n_reviews,description,appliances,popular_facilities,...,facility_Waxing services,facility_Wheelchair accessible,facility_Wine/Champagne,facility_Yoga classes,facility_iPad,facility_iPod dock,facility_nan,appliances_size,PriceValue,Rapport
848,Bluesock Hostels Madrid,€ 68,€ 98,Location 9.7,"6 Calle Gran Vía, Madrid City Center, 28013 Ma...",8.5,"5,518 reviews",You're eligible for a Genius discount at Blues...,NaN,"Towels,Toilet,Shower,Linens,Socket near the be...",...,0,0,0,0,0,0,0,NaN,68,0.125000
851,Arc House Madrid - Puerta del Sol Only Adults,€ 61,NaN,Location 9.4,"2 Calle de la Victoria 1ero Derecha, Madrid Ci...",7.5,"2,979 reviews","Conveniently located in the center of Madrid, ...",NaN,"Toilet paper,Toilet,Shower,Walking tours,Invoi...",...,0,0,0,0,0,0,0,NaN,61,0.122951
852,Way Hostel Madrid,€ 73,NaN,Location 9.5,"Relatores, 17, Madrid City Center, 28012 Madri...",8.7,873 reviews,You're eligible for a Genius discount at Way H...,NaN,"Toilet paper,Towels/Sheets (extra fee),Toilet,...",...,0,0,0,0,0,0,0,NaN,73,0.119178
847,Santo - Coworking - Coliving - Madrid,€ 74,€ 81,Location 9.6,"24 Cuesta de Santo Domingo 1 planta, Madrid Ci...",8.6,298 reviews,You're eligible for a Genius discount at Santo...,NaN,"Toilet paper,Towels/Sheets (extra fee),Toilet,...",...,0,0,0,0,0,0,0,NaN,74,0.116216
853,HC Hostel,€ 47,NaN,NaN,"1 Plaza del Callao 1 izquierda, Madrid City Ce...",5.4,913 reviews,"Located in Madrid, a 2-minute walk from Gran V...",NaN,"Towels/Sheets (extra fee),Linens,Shared kitche...",...,0,0,0,0,0,0,0,NaN,47,0.114894
343,M-A Catrachos Rooms,€ 68,€ 72,Location 9.3,"5 Calle del Barco, Madrid City Center, 28004 M...",7.5,221 reviews,You're eligible for a Genius discount at M-A C...,NaN,"Toilet paper,Towels,Hairdryer,Linens,Clothes r...",...,0,0,0,0,0,0,0,NaN,68,0.110294
4,HABITACION PRIVADA EN PLENO CENTRO DE MADRID,€ 95,NaN,Location 10,"13 Calle de la Ruda, 3ro C exterior, Madrid Ci...",10.0,1 review,"Located in Madrid, a 8-minute walk from Plaza ...",NaN,"Toilet paper,Towels,Bathtub or shower,Shared t...",...,0,0,0,0,0,0,0,NaN,95,0.105263